<!-- <p>table works!</p> -->
<p-table [value]="employee" [paginator]="true" [rows]="3" [showCurrentPageReport]="true" responsiveLayout="scroll"  [globalFilterFields]="['Id','NAME','AGE','SALARY']">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon><p-columnFilter type="text" field="Id" display="menu"></p-columnFilter></th>
            <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon><p-columnFilter type="text" field="Id" display="menu"></p-columnFilter></th>
            <th pSortableColumn="age">AGE <p-sortIcon field="age"></p-sortIcon><p-columnFilter type="text" field="Id" display="menu"></p-columnFilter></th>
            <th pSortableColumn="salary">SALARY<p-sortIcon field="salary"></p-sortIcon><p-columnFilter type="text" field="Id" display="menu"></p-columnFilter></th>
        </tr>
       
    </ng-template>
    <ng-template pTemplate="body" let-employee>
        <tr>
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.salary}}</td>
            
        </tr>
    </ng-template>
</p-table>
