// .mainarea{
//     // display: flex;
//     // height: 100vh;
// }

// .background{
   
//     background-color: #EB5757;
//     width: 50%;
// }
// .textfield{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
    

           
//         h3{

//         }
//         p{

//         }
    
//     .mail{

//     }
//     .text{

//     }
//     .in{

//     }
//     a{

//     }

.logo{
    background-color: red;
img
    {
        margin-left: 122px;
        margin-top: 140px;
    }
    }





.reset{
    width: 50%;
}
.forgot-password{
    display: flex;
    justify-content: center;
    align-items: center ;
    // margin-left: -89px;
    margin-left: -96px;
     h5{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px; 
     } 
     p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-top: 29px;

     }
     .form-label{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
     }
     a{
        margin-top:19px;
     }

}
.main-area{
    height: 100vh;
}
