<!-- <p>forgetpage works!</p> -->
<!-- <div id="mainarea">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="background"></div>
            </div>
            <div class="col-6">
                <div class="textfield">
                    <div class="content">
                        <h3>Forgot your password</h3>
                        <p>Please enter the email address you'd like your<br>
                            password reset information sent to</p> 
                    </div>
                    
                    <div class="mail">Enter email address</div>
                     <input type="text" pInputText placeholder="Email" class="text">
                     <div  class="in">
                        <p-button  label="">Request Rest Link</p-button>
                    </div>
                    <a href="">Back to login</a>
                </div>
            </div>
        </div>
    </div>
</div> -->






<!-- <div class="mainarea">
    
    
    <div class="col-6 background" ></div>
    <div class="col-6 textfield" >
        
            <h3>Forgot your password</h3>
            <p>Please enter the email address you'd like your<br>
                password reset information sent to</p> 
         <div class="mail">Enter email address</div>
         <input type="text" class="text" pInputText placeholder="Email" >
         <div  class="in">
            <p-button  label="">Request Rest Link</p-button>
        </div>
        <a href="">Back to login</a>
    </div>

</div> -->
<div class="mainarea">
    <div class="container-fluid">
        <div class="row main-area">
            <div class="col-6 logo">
                <img src="../../assets/fpImg.svg" alt="">
            </div>
            <div class="col-6 forgot-password">
                <div class="forget-wrapper">
                    <div>
                        <h5>Forgot your Password</h5>
                    </div>
                    <div>
                        <p>Please enter the email address you'd like your<br> password reset information sent to</p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Enter email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="email">
                        <!-- <div id="emailHelp" class="form-text"></div> -->
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button" style="">Request Reset link</button>
                    </div>
                    <a routerLink="/login"> Back to login</a>
                </div>
                
            </div>
        </div>
    </div>
</div>