<!-- <p>forgetpage2 works!</p> -->
<div class="mainarea">
<div class="col-6 background">
    <img src="../../assets/fpImg.svg" alt="">
</div>
<div class="col-6 textfield">
    <p>We just sent an email to <br>"priyan@dreamcards.in"</p>
    <p class="text">Click the secure link we sent you to reset your<br> password. If you didn't receive an email check<br> your Spam folder.</p>
    <div>
    <!-- <a routerlink="/login">Back to Login page</a> -->
    <a routerLink="/login">Back to Login page</a>
</div>
</div>
</div>