<!-- <p>login works!</p> -->
<div class="mainarea">
    <div class="col6 color">
        <img src="../../assets/3_BLM_PROTESTS.svg" alt="">
    </div>
    <div class="col6  textfield">
        <div class="content">
            <div class="headers">
                <h2>Sign in</h2>

            </div>
            <p>to access Finex account</p>
            <div class="mail">Email</div>
            <input type="text" pInputText placeholder="Email" class="text">
            <div class="pass">Password</div>
            <input type="text" pInputText placeholder="Placeholder text" class="text">
            <div class="forget">
                <a routerLink="/forget">forget Password?</a>
            </div>
            <div  class="in">
                <p-button  label="">SIGN IN</p-button>
            </div>
            <div class="ang"><a href="">Sign up</a></div>
        </div>
    </div>
</div>