.mainarea{
    display:flex;
    .color{
        display: flex;
        height: 100vh;
        left: 0px;
        top: 0px;
        background: #EB5757;
        width:50%
        
    }
    .textfield{
        .content{
        margin-left: 77px;
    h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-top: 147px;
    }
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
    }
    .mail{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin-top:32px
    }
    .pass{
        margin-top: 16px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;

    }
    .text{
        width: 320px;
        height: 38px;
        border: 1px solid #E1E7EA;
        border-radius: 3px;
        margin-top: 6px;
        }
    .forget{
            margin-top: 12px;
            text-decoration: none;
            
        }
      
        .in{
            width: 320px;
            height: 32px;
            border-radius: 4px;
            margin-top: 29px;
        }
        .ang{
            text-align: center;
            margin-top: 10px;
        }

     
     



    }
    
                
                    
                    

                   

                
    }            
}




