<!-- <p>login works!</p> -->
<div class="mainarea">
    <div class="col6 color"> 
        <div class="background"></div>
        <img src="../../assets/3_BLM_PROTESTS.svg" alt="">
    </div>
    <div class="col6  textfield">
        <div class="content">
            <!-- <div class="headers">
                <h2>Sign in</h2>
               
             </div>
             <p>to access Finex account</p>
             <h6>Email</h6>
               <input  type="text" pInputText placeholder="Email">
            <h6>Password</h6>
               <input  type="text" pInputText placeholder="Placeholder text">  
               <p routerLink="forgetpage">Forget password</p>
               <button >sign in</button>
               <p class="bottom">signup</p> -->
        </div>
    </div>
</div>