<!-- <p>reset works!</p> -->
<div class="mainarea">
    <div class="col-6 left">
        <img src="../../assets/LAPTOP (1).svg" alt="">
    </div>
    <div class="col-6 right">
        <div class="content">
            
            <h6>Reset Your Password</h6>
            <p>to access Finex account</p>
            <div class="form">
                <label for="exampleInputEmail1" class="form-label">password</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">
                <label for="exampleInputEmail1" class="form-label2">confirm password</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="placeholdertext">
            </div>
            <div class="button">
                <p-button label="Confirm Password"></p-button>
            </div>
            <a routerLink="/login">Back to login</a>
        </div>
        </div>
    </div>

                
                









