.mainarea{
        display:flex;
    .color
        {
            height:100vh;
           width:50% ;
           background-color: #EB5757
            
            
        }
    .textfield
        {
          
            .content
                {
                    
                    margin-top:226px;
  

                    h6
                        {
                            padding-left: 92px;
                        }
                    p
                        {
                            
                            padding-left: 92px;  
                            margin-top: 10px;
                        
                        }    


                }
        }    




}