.mainarea{
    display: flex;
    .color
        {
            // position: absolute;
            
            width: 676px;
            height: 100vh;
            // left: 0px;
            // top: 0px;
            
            background: #EB5757;
            
            
        }
    .textfield
        {
          
            .content
                {
                    

  

                    h6
                        {

                        }
                    p
                        {
                            display: flex;
                            width:442px;
                            
                            height:81px;
                            
                            margin-Top:338px;
                            
                            margin-Left:92px
                              
                            
                            
                        
                        }    


                }
        }    




}