<!-- <div class="mainarea">
   <div class="col-6 logo">
    <img src="../../assets/Screenshot 2022-09-24 at 4.24 1 (1).png" alt="">
   </div>
   <div class="col-6 signup">
   <div class="header">
    <h1>HELLO, WELCOME</h1>
    <h6>Enter to digital learning</h6>
    </div>
        <div class="form">
            <label for="org" >orgname</label><br>
            <input type="text" class="width" name="orgname" placeholder="name"><br>
            <label for="Email" >Email</label><br>
            <input type="text" class="width"name="Email" placeholder="Email"><br>
            <label for="password" >password</label><br>
            <input type="text"  class="width"name="password" placeholder="password"><br>
            <label for="number" >mobileNumber</label><br>
            <input type="text" class="width" name="number" placeholder="mobileno"><br>
            <button>Create Account</button>
            <div class="account">Already Have an Account? <a href="">login</a>
                
            </div>
        </div> -->
        
        <!-- <div class="p-field">
         <label for="username1">Username</label>
         <input id="username1" type="username" aria-describedby="username1-help" pInputText  />
     </div> -->
     

   <!-- </div> -->
   <!-- </div> -->












   <div class="mainarea">
      <div class="col-6 logo">
         <img src="../../assets/Screenshot 2022-09-24 at 4.24 1 (1).png" alt="" >
      </div>
      <div class="col-6 signup" >
         <div class="signInform">        
            <div class="headers">
               <h3>Hello, Welcome</h3>
               <p>Enter to digital learning</p> 
            </div>
         
          <div class="form">
            <h6>orgname</h6>
            <input type="text" pInputText placeholder="name">
            <h6>Email</h6>
            <input type="text" pInputText placeholder="email">
            <h6>Password</h6>
            <input type="text" pInputText placeholder="password">
            <h6>MobileNumber</h6>
            <input type="text" pInputText placeholder="mobileNumber">
            <div class="btn">
            <p-button label="CREATE ACCOUNT"></p-button>
            </div>
            <!-- <p>Already Have an account?</p> -->
            
            
            


          </div> 
      </div> 
   </div>
 </div>