<!-- <div class="mainarea">
   <div class="col-6 logo">
    <img src="../../assets/Screenshot 2022-09-24 at 4.24 1 (1).png" alt="">
   </div>
   <div class="col-6 signup">
   <div class="header">
    <h1>HELLO, WELCOME</h1>
    <h6>Enter to digital learning</h6>
    </div>
        <div class="form">
            <label for="org" >orgname</label><br>
            <input type="text" class="width" name="orgname" placeholder="name"><br>
            <label for="Email" >Email</label><br>
            <input type="text" class="width"name="Email" placeholder="Email"><br>
            <label for="password" >password</label><br>
            <input type="text"  class="width"name="password" placeholder="password"><br>
            <label for="number" >mobileNumber</label><br>
            <input type="text" class="width" name="number" placeholder="mobileno"><br>
            <button>Create Account</button>
            <div class="account">Already Have an Account? <a href="">login</a>
                
            </div>
        </div> -->

<!-- <div class="p-field">
         <label for="username1">Username</label>
         <input id="username1" type="username" aria-describedby="username1-help" pInputText  />
     </div> -->


<!-- </div> -->
<!-- </div> -->












<div class="mainarea">
   <div class="col-6 logo">
      <img src="../../assets/Screenshot 2022-09-24 at 4.24 1 (1).png" alt="">
   </div>
   <div class="col-6 signup">
      <div class="signInform">
         <div class="headers">
            <h2>Hello, Welcome</h2>

         </div>
         <p>Enter to digital learning</p>

         <div class="form" [formGroup]="data">

            <h6>orgname</h6>
            <input type="text" pInputText placeholder="name" formControlName="name">
            <div  class="errin" *ngIf="form['name'].invalid && (form['name'].touched || form['name'].dirty)">
               <div class="errmsg" style="color: red;" *ngIf="form['name'].errors?.required">name is required</div>
            </div>
            <h6>Email</h6>
            <input type="text" pInputText placeholder="email" formControlName="email">
            <div class="errin" *ngIf="form['email'].invalid && (form['email'].touched || form['email'].dirty)">

               <div class="errmsg" style="color:red" *ngIf="form['email'].errors?.required"> Email is required</div>
               <div class="errmsg" style="color:red" *ngIf="form['email'].errors?.email"> Enter a valid Email</div>

               </div>
            <h6>Password</h6>
            <input type="password" pInputText placeholder="password" formControlName="password">
            <ng-container *ngIf="form['password'].invalid && (form['password'].touched || form.password.dirty)">
               <p style="color:red" *ngIf="form['password'].errors?.required"> password is required</p>
               <p style="color:red" *ngIf="form['password'].errors?.['minlength']"> at least 5 characters</p>


            </ng-container>
            <h6>MobileNumber</h6>
            <input   pInputText placeholder="mobileNumber" formControlName="mobilenumber">
            <ng-container
               *ngIf="form['mobilenumber'].invalid && (form['mobilenumber'].touched || form['mobilenumber'].dirty)">

               <p style="color:red" *ngIf="form['mobilenumber'].errors?.required"> mobilenumber is required</p>
               <!-- <p style="color:red" *ngIf="form['mobilenumber'].errors?.number"> please,Enter 10 digit Mobile
                  Number</p> -->
                  <p style="color:red" *ngIf="form['mobilenumber'].errors?.pattern"> Enter only number</p>
                  <p style="color:red" *ngIf="form['mobilenumber'].errors?.maxlength"> mobile number should have maximum length of 10</p>


            </ng-container>


            <br>
            

            <p-toast position="top-center" key="c"></p-toast>
            <p-confirmPopup></p-confirmPopup>
            <p-button (click)="createAccount()" icon="pi pi-check" label="">Create Account</p-button>
            <p>Already Have an account? <a routerLink="/login">login</a></p>

         </div>
         
            
            
      
      </div>
   </div>
</div>