// .mainarea {
//     display: flex;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
//     .logo {
//         // margin-top:40px ;
//         background-color: orangered;
//         height: 100vh;
//     }

//     h6 {
//         margin-left: 50px;
//     }

//     button {
//         margin-left: 50px;
//         margin-top: 20px;
//     }

//     .account {
//         margin-top: 10px;
//     }
// }




.mainarea {
    display: flex;

    .logo {
        display: flex;
        height: 100vh;
        align-items: flex-end;
        justify-content: center;
        background-color: #EB5757;


    }

    .signup {

        .signInform {

            .headers {
                h2 {
                    // position: absolute;
                    margin-left: 205px;
                    margin-top: 102px;

                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                }

                p {
                    position: absolute;
                    margin-left: 230px;
                    margin-top: 14px;

                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;

                }


            }

            .form {

                h6 {
                    // width: 62px;
                    // height: 15px;
                    margin-top: 27px;
                    margin-left: 142px;

                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;

                }

                input {

                    box-sizing: border;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 9px 12px;
                    gap: 10px;
                    width: 320px;
                    height: 38px;
                    background: #FFFFFF;
                    border: 1px solid #E1E7EA;
                    border-radius: 3px;
                    margin-left: 142px;
                    margin-top: 6px;

                }

                button {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // padding: 0px 140px;
                    // position: absolute;
                    width: 320px;
                    height: 32px;
                    margin-left: 142px;
                    margin-top: 38px;
                    background-color: #2D81F7;
                    color: #FFFFFF;
                }
            }

            p {
                // position: absolute;
                width: 198px;
                height: 24px;
                margin-left: 203px;
                margin-top: 26px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
                text-align: center;
                // color: #000000;

            }

        }




    }
}

.errin {
    margin-top: 0%;
    padding: 0%;
    position: relative;
    .errmsg {
        position:absolute;
        top: 3px;
        margin-left: 144px;
    }
}
h6::after{
    margin-left: 10px;

    content: '*';
    size: 10px;

    color:red;

}